<div class="main-container">
  <div class="content-container">
    <div class="header">
      <h2>Gestión del Inventario</h2>
      <button class="add-button" (click)="mostrarAgregarProducto()" title="Agregar producto">
        <span class="icon-text">
          <span class="material-symbols-outlined">add_circle</span>
          <span class="small-text agregar">Agregar producto</span>
        </span>
      </button>
    </div>
    <input type="text" [(ngModel)]="searchTerm" (input)="buscarProducto()" placeholder="Buscar por código o descripción">
    <div class="table-responsive">
      <table>
        <thead>
          <tr>
            <th>Código</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of paginatedProductos">
            <td>{{ producto.codigo }}</td>
            <td>{{ producto.descripcion }}</td>
            <td>₡{{ formatPrice(producto.precio) }}</td>
            <td>{{ producto.cantidad }}</td>
            <td>
              <button class="action-button edit-button" (click)="seleccionarProducto(producto)" title="Editar">
                <span class="material-symbols-outlined">edit</span>
              </button>
              <button class="action-button delete-button" (click)="borrarProducto(producto)" title="Eliminar">
                <span class="material-symbols-outlined">delete</span>
              </button>
            </td>
          </tr>
          <!-- Añadir filas vacías si hay menos de 7 elementos -->
          <tr *ngFor="let i of [].constructor(itemsPerPage - paginatedProductos.length)">
            <td colspan="5">&nbsp;</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pagination-controls">
      <button 
        (click)="prevPage()" 
        [disabled]="currentPage === 1" 
        [class.disabled]="currentPage === 1">
        Anterior
      </button>
      <span>Página {{currentPage}} de {{totalPages}}</span>
      <button 
        (click)="nextPage()" 
        [disabled]="currentPage === totalPages" 
        [class.disabled]="currentPage === totalPages">
        Siguiente
      </button>
    </div>
    <app-modificar-producto *ngIf="productoSeleccionado" [producto]="productoSeleccionado" (close)="cerrarModificacion()"></app-modificar-producto>
    <app-agregar-producto-modal *ngIf="mostrarAgregar" (close)="cerrarAgregar()"></app-agregar-producto-modal>
    <app-borrar-producto *ngIf="mostrarBorrar" [productos]="productos" (close)="cerrarBorrar()" (productoBorrado)="productoBorrado($event)"></app-borrar-producto>
  </div>
</div>
