.container {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-control {
    width: 96%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
  }
  
  /* Estilos para los botones */
  button {
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin: 5px;
  }
  
  button:hover {
    background-color: #45a049; /* Verde más oscuro */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  }

  .img-thumbnail {
    max-width: 200px;
    height: 200px;
  }
  