.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: var(--background);
  color: var(--text);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.alert {
  margin-top: 10px;
  padding: 10px;
  background-color: #d4edda;  // Fondo verde claro
  color: #155724;  // Color de texto verde oscuro
  border: 1px solid #c3e6cb;  // Borde verde claro
  border-radius: 5px;
}


.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn-primary {
  background-color: #E95381;
  color: white;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #b83e62;
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
  transition: background-color 0.3s ease;
}

.btn-secondary:hover {
  background-color: #5a6268;
}


