:host {
    display: block;
    padding: 16px;
  }
  
  .main-container {
    display: flex;
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .content-container {
    flex: 1.5;
    background: var(--background);
    color: var(--text);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: flex 0.3s ease;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacio entre los campos del formulario */
  }
  
  mat-form-field {
    width: 100%;
  }
  
  .button-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .button-group button {
    width: auto; /* Cambia de flex: 1 a width: auto para que no sea tan largo */
    padding: 10px 20px; /* Ajusta el tamaño del botón */
    background-color: #E95381; /* Color de fondo azul */
    color: white; /* Color del texto blanco */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Efecto de transición */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  }
  
  .button-group button:hover {
    background-color: #b83e62; /* Oscurece un poco el azul al pasar el mouse */
  }
  
  @media (prefers-color-scheme: dark) {
    :host {
      --background: #333;
      --text: #fff;
    }
  }
  
  @media (prefers-color-scheme: light) {
    :host {
      --background: #fff;
      --text: #000;
    }
  }





 
  